@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

// **********Mobile**********
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  background: #236A62;
}
.wrapper {
  padding: 100px 20px 0;
  height: 100vh;
  background: url(../images/pattern-hills.svg) no-repeat bottom center;
  background-size: 600px 200px;

  header {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    line-height: 1.2;
    font-size: .8em;
    margin-bottom: 50px;

    h2 {
      letter-spacing: .1em;
      margin: 5px 0;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-gap: 1em;
  
    .days, .hours, .minutes, .seconds {
      position: relative;
      text-align: center;
  
      .top, .down {
        height: 30px;
      }
  
      .top {
        background: #42847D;
        border-radius: 0 0 5px 5px;
      }
  
      .down {
        background: #6A9E98;
        border-radius: 5px 5px 0 0;
      }

      p {
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        color: #070707;
      }
    }
  }

  .label {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-gap: 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.911);
    margin-top: 10px;
    font-size: .8em;
    letter-spacing: 2px;
  }

  footer {
    width: 336px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    .social {
      margin-bottom: 60px;

      .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: cover;
        cursor: pointer;
      }
      
      .facebook {
        background-image: url(../images/icon-facebook.svg);

        &:hover {
          background-image: url(../images/icon-facebook-pink.svg);
        }
      }

      .twitter {
        margin: 0 20px;
        background-image: url(../images/icon-twitter.svg);

        &:hover {
          background-image: url(../images/icon-twitter-pink.svg);
        }
      }

      .instagram {
        background-image: url(../images/icon-instagram.svg);

        &:hover {
          background-image: url(../images/icon-instagram-pink.svg);
        }
      }
    }

    .contact {
      margin-bottom: 5px;
      font-size: 1em;
      color: black;

      a {
        color:  black;
        text-decoration: underline;
        text-decoration-color: #00352F;
    
        &:hover {
          color: #fb6087;
          text-decoration: none;
        }
      }

    }
  }
}

// **********Desktop**********
@media screen and (min-width: 768px) {
  .wrapper {
    background-size: auto;

    header {
      
      h2 {

        &:nth-of-type(1) {
          letter-spacing: .5em;
        }
      }
    }

    main {
      width: 336px;
      width: 500px;
      margin: auto;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      grid-gap: 2.8em;

      .days, .hours, .minutes, .seconds {

        .top, .down {
          width: 100px;
          height: 30px;
        }
        
        p {
          font-size: 3.5em;
          bottom: 0;
        }
      }
    }

    .label {
      width: 500px;
      margin: 10px auto 0;
      grid-gap: 3em;
      font-size: 1em;

      p {
        width: 100px;
      }
    }

    footer {
      width: 100%;

      .contact {
        font-size: 1.3em;
        color: #ffffffb9;
      }
    }
  }
}